* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	/* color:beige */
	/* font-size: 16px; */

	scroll-behavior: smooth;
}

.container {
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 30px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 18px;
	background-color: rgb(177, 215, 110);
}

.app-header {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(209, 110, 5);
}

.app-heading {
	font-weight: 700;
	color: rgb(3, 3, 3);
	margin-bottom: 50px;
}

.logo-image {
	width: 300px;
	height: 500px;
	object-fit: cover;
	border-radius: 40px;
	box-shadow: -webkit-box-shadow -30px -25px 42px -14px rgba(170, 174, 205, 1);
	-moz-box-shadow: -30px -25px 42px -14px rgb(1, 1, 9);
	box-shadow: -30px -25px 42px -14px rgb(30, 30, 30);
}

.logo-image:hover {
	transition: 1.5s;
	transform: scalex(-1);
	cursor: pointer;
}

.app-main {
	width: 100%;
	display: flex;
	gap: 10px;
}

#info-text {
	color: black;
	background-color: rgb(231, 172, 96);
	border: 2px solid black;
	font-size: 25px;

	padding: 50px 100px;
	border-radius: 15px;
}

#info-text:hover {
	font-size: 24px;
	background-color: black;
	color: orange;
	transition: 1s;
	cursor: pointer;
}
.incomes-wrapper {
	width: 100%;
	border: 2px solid rgb(21, 13, 1);
	padding: 2px 15px;
	border-radius: 20px;
	font-size: 24px;
	background-color: rgb(231, 172, 96);
}

/* .incomes-heading{
	margin-top: 20px;
} */

.outcomes-wrapper {
	width: 100%;
	border: 2px solid black;
	padding: 2px 15px;
	border-radius: 20px;
	font-size: 24px;
	background-color: ivory;
}

.incomes-list {
	padding: 0;
	color: black;
}

.list-income-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	color: black;
}

.income-list-element-wrapper {
	display: flex;
	align-items: center;
	gap: 10%;
}

#income-name {
	font-size: 20px;
}

#income-value {
	font-size: 20px;
}

#add-income-button {
	padding: 10px 40px;
	background-color: black;
	color: orange;
}

.outcome-list-element-wrapper {
	display: flex;
	align-items: center;
	gap: 10%;
}

.list-outcome-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

#outcome-name {
	font-size: 20px;
}

#outcome-value {
	font-size: 20px;
}

#add-outcome-button {
	padding: 10px 40px;
	background-color: black;
	color: orange;
}
.incomes-inputs {
	font-size: 20px;
}

.income-total {
	font-weight: 900;
}

.outcome-total {
	font-weight: 900;
}
