/* computer */
@media screen and (min-width: 1441px) {
	.container {
		width: 1320px;
	}

	.container {
		margin: 0 auto;
		background-color: rgb(241, 232, 183);
	}

	.app-heading {
		font-size: 32px;
		font-weight: 600;
	}

	.outcome-total {
		margin-top: 30px;
	}
}
