/* tablet */
@media screen and (min-width: 769px) {
	.container {
		width: 90%;
		background-color: rgb(242, 245, 226);
	}

	.app-header {
		padding: 30px 0;
	}

	.app-heading {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 50px;
	}

	.logo-image {
		width: 300px;
		height: 500px;
		border-radius: 40px;
	}

	.logo-image:hover {
		transition: 1.5s;
		transform: scalex(-1);
		cursor: pointer;
	}

	.info-text {
		font-size: 24px;
		padding: 20px 100px;
		margin-top: 40px;
	}

	.info-text:hover {
		font-size: 24px;
		background-color: black;
		color: orange;
		transition: 1s;
		cursor: pointer;
	}

	.app-main {
		flex-direction: row;
	}

	.incomes-wrapper {
		font-size: 24px;
	}

	.incomes-heading .outcomes-heading {
		font-size: 24px;
	}

	#income-name {
		height: 50px;
		font-size: 20px;
	}

	#income-value {
		height: 50px;
		font-size: 20px;
	}

	.outcomes-wrapper {
		font-size: 24px;
		background-color: ivory;
	}

	#outcome-name {
		height: 50px;
		font-size: 20px;
	}

	#outcome-value {
		height: 50px;
		font-size: 20px;
	}

	.outcome-total {
		margin-top: 30px;
	}

	.save-button {
		margin: 10px 40px;
	}
}
